body,
html {
  margin: 0;
  background-color: #e7e3ed;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

nav {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  margin-top: 4rem;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
}

.stat-card {
  display: flex;
  justify-content: space-around;
  width: 17rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.stat-card p {
  font-size: large;
}
